<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="cell">
        <a href="/policlinic/minsk-33gp/order/16380/9896" class="in_active"></a>

        <div class="left doctor">
            <h6>Байгузинова Елена Юрьевна</h6>

            <p class="grey">Врач общей практики, к. 214</p>
        </div>
    </div>
    <div class="cell">
        <a href="/policlinic/minsk-33gp/order/16380/76602" class="in_active"></a>

        <div class="left doctor">
            <h6>Бойко Зоя Николаевна</h6>

            <p class="grey">Врач общей практики, к. 215</p>
        </div>
    </div>
</div>
</body>
</html>