<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/adminMenu.css">
</head>
<body>
<div class="header">
    <h1>Административное меню</h1>
</div>
<div class="nav">
    <a href="/">Главная</a>
    <a href="/admin/users">Пользователи</a>
    <a href="/admin/schedule">Расписание</a>
    <a href="/admin/reports">Отчеты</a>
    <a href="/admin/settings">Настройки</a>
</div>
<div class="content">
    <div class="section">
        <h2>Управление пользователями</h2>
        <a href="/admin/users?keyword=" class="button">Просмотр пользователей</a>
        <a href="/admin/users/addUser" class="button">Добавить пользователя</a>
    </div>
    <div class="section">
        <h2>Управление расписанием</h2>
        <a href="/admin/talons?keyword=" class="button">Просмотр талонов</a>
        <a href="/admin/schedule/add" class="button">Добавить талон пока не работает!!!</a>
    </div>
    <div class="section">
        <h2>Отчеты и статистика</h2>
        <a href="/admin/reports" class="button">Просмотр отчетов</a>
    </div>
    <div class="section">
        <h2>Настройки</h2>
        <a href="/admin/settings" class="button">Настройки сайта</a>
    </div>
</div>
</body>
</html>